*, *::after, *::before
{
  box-sizing: border-box;
}

body
{
  background:linear-gradient(to right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

/******************************/
.switches{
  /* position: absolute;
  display: flex;
  flex-direction: column; */
  width:100%
}
.switch {
  padding: 5px;
  position: absolute;
  width: 60px;
  height: 34px;
  left:49%;
  top:90%;
}


#analog{
  left:30%;
  top:90%;
}
#digital{
  left:40%;
  top:90%;
}
#stopwatch{
  left:55%;
  top:90%;
}
#alarm{
  left:65%;
  top:90%;
}


.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




/*******************************/


.alarm{
  display: none;
}


/*******************************/
.stopwatch{display: none;}
/* .stopwatch > * {
  display: flex;
  justify-content: center;
  align-items: center;

} */

#laps-text{

  font-size: xx-large;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}


.buttons > button {
  margin: 10px;
  padding: 10px;
  font-size: larger;
}

.thestopwatch
{
  display: flex;
  justify-content: center;
  padding-bottom : 10px;
  font-size: x-large;
  color: white;
}



/*******************************/

.sa3a
{
  width: 275px;
  height: 275px;
  background-color: rgba(255,255,255,.8);
  border-radius: 50%;
  border:2px solid black;
  position:relative;
  display: none;
}

.num
{
  --rotation: 0;
  font-size: x-large;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: blueviolet; */
  text-align: center;
  transform: rotate(var(--rotation));
}

.num1{--rotation:30deg;}
.num2{--rotation:60deg;}
.num3{--rotation:90deg;}
.num4{--rotation:120deg;}
.num5{--rotation:150deg;}
.num6{--rotation:180deg;}
.num7{--rotation:210deg;}
.num8{--rotation:2400deg;}
.num9{--rotation:270deg;}
.num10{--rotation:300deg;}
.num11{--rotation:330deg;}

.sa3a .heur
{
  --rotation:0;
  position:absolute;
  bottom: 50%;
  left: 50%;
  width: 12px;
  height: 25%;
  background-color: black;
  border: 1px solid rgba(255,255,255,.9);
  border-top-left-radius: 010px;
  border-top-right-radius: 10px;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom; 
  z-index: 5;
}

.sa3a .min
{
  --rotation:0;
  height: 35%;
  width:6.5px;
  background-color: black;
  border: 1px solid rgba(255,255,255,.9);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom; 
  z-index: 6;
}

.sa3a .sec
{ 
  --rotation:20;
  height: 40%;
  width:3px;
  background-color: red;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom; 
  z-index: 4;
}

.center{
  position: absolute;
  height: 12px;
  width:12px;
  border-radius: 50%;
  background-color: black;
  bottom: 50%;
  left: 50%;
  z-index: 11;
  transform: translateX(-50%) translateY(50%);
  
}

/***********************/

.watch{
  width: 485px;
  height: 150px;
  background-color: rgba(255,255,255,.8);
  border-radius: 10%;
  border:2px solid black;
  position:relative;
  display: none;
}

.box{
  margin-top: 5px;
  margin-left: 5px;
  display: none;
  position :flex;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;

}

.digit {
  font-size: 6rem;
  margin: 3px;
  width: 50px;
  height: 120px;
  background-color: rgb(134, 134, 134);
  border : 2px solid black;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.twodots{
  margin: 8px;
  width: 50px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

.dots{
  margin: 5px;
  width: 13px;
  height: 13px;
  background-color: black;
  border-radius: 50%;
}



